@tailwind base;
@tailwind components;
@tailwind utilities;

html
  @apply font-sans;
  @apply text-sm;

// Custom base style
h1
  @apply flex;
  @apply items-center;
  @apply mt-8;

  &:focus a.header-anchor,
  &:hover a.header-anchor
    @apply opacity-100;

h1
  @apply text-2xl;

a.header-anchor
  @apply opacity-0;
  @apply text-base;
  @apply flex;
  @apply items-center;
  @apply ml-2;

p
  @apply mb-1

@screen md
  header nav:before
    @apply opacity-100 !important;

header nav:before
  content: "";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAxMzYgNzAiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik02NCA0OC4zMzNDNDAuMzEyIDcwIDAgNzAgMCA3MGgxMzUuNVYwaC04LjY3M0MxMDQuNDEgMCA4NS43MDQgMTUuNTg0IDc0LjMzMSAzNC45MDFjLTMuMDUgNS4xOC02LjUxNCA5Ljk0MS0xMC4zMzEgMTMuNDMyeiIvPjwvc3ZnPg==");
  @apply h-full;
  @apply absolute;
  @apply top-0;
  @apply bg-no-repeat;
  left: -45%;
  width: 45%;
  @apply opacity-0;